@import '../../scss/root';

.button {
	background-color: $secondary-color;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 7px darken($primary-color, 20%);
	color: $contrast-color;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 2em;
	margin: 0;
	min-height: 40px;
	min-width: 150px;
	padding: .25em 1em;
	transition: box-shadow .2s linear, background-color .2s linear;

	&--width-auto {
		line-height: 1;
		max-width: initial;
		min-width: initial;
		width: auto;
	}

	&:hover {
		background-color: darken($secondary-color, 5%);
		box-shadow: 2px 2px 7px darken($primary-color, 35%);
	}
}
