$primary-color: #3f51b6!default;
$secondary-color: #33a29a!default;
$contrast-color: #fff!default;

$container: 1170px!default;

$fontFamily: 'Montserrat', sans-serif!default;
$text-color: $contrast-color!default;
